@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    padding-top: 4rem; /* Match navbar height */
    height: 100vh; /* Full height for the app */
    display: flex;
    flex-direction: column;
  }

  .scrollable-container {
    padding-top: 4rem;
  }
  
  